body {
  font: Verdana, serif;
  background-color: #FFFFFF;
}

h1 {
  font-style: bold;
}

h4 {
  font-style: italic;
}

#board {
  margin-top: 10px;
  background-color: gray;
}

#activeTurn {
  text-align: center;
  font-size: 25px;
}

.row {

}

.box {
  border: 2px solid black;
  height: 150px;
}

#resetButton {
  border-radius: 5px;
  margin-top: 25px;
  font-size: 20px;
  align-items: center;
}

footer {
  height: 100px;
}
