body {
  font: Verdana, serif;
  background-color: #FFFFFF;
}

h1 {
  font-style: bold;
}

h4 {
  font-style: italic;
}

#board {
  margin-top: 10px;
  background-color: gray;
}

#activeTurn {
  text-align: center;
  font-size: 25px;
  margin-top: 15px;
}

.row {

}

.box {
  border: 2px solid black;
  height: 150px;
}

#spotify {
  align-self: center;
  margin-top: 15px;
}

#resetButton {
  margin-left: 47%;
  margin-right: 47%;
  margin-top: 20px;
}

footer {
  height: 100px;
}
